@forward '../globals';

// 버튼 클릭했을 때 효과
@mixin btnEffect($backColor, $color) {
  &:hover,
  &:active {
    background-color: $backColor;
    color: $color;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }
}

// 장바구니, 구매하기 버튼 중복코드
@mixin cartbuyBtn {
  width: 100%;
  padding: 14px 26px;
  border: 1px solid var(--logo-color);
  border-radius: 6px;
  cursor: pointer;
}

// header 시작
.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding: 20px 200px 20px;
  border-bottom: 1px solid;
  box-shadow: var(--box-shadow);

  &__user {
    display: flex;
    justify-content: flex-end;

    &-login {
      display: flex;
      justify-content: flex-end;

      &--ul {
        display: flex;
        gap: 5px;
      }

      &-li {
      }
    }
  }

  &-main {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__logo {
      height: 80px;
    }

    &__company-name {
      font-size: 30px;
    }

    &__search {
      width: 50%;
      border: 1px solid;

      &--form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid var(--logo-color);
      }

      &--input {
        width: 100%;
        height: 80%;
        border-radius: 3px;
        border: none;

        &:focus,
        &:active {
          outline: none;
        }
      }

      &--button {
        img {
          height: 30px;
          margin-right: 10px;
          color: var(--logo-color);
          cursor: pointer;
        }
      }
    }

    &__links-img {
      height: 40px;
    }
  }

  &-nav {
    &-category {
      margin-top: 40px;
      &--ul {
        display: flex;
        justify-content: space-between;
      }

      &--li {
        a {
          font-size: 20px;
        }
      }
    }
  }
}
// header 끝

// main
.main {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;

  &-container {
    display: grid;
    grid-template-columns: 55% 40%;
  }
}

// section
.section {
  width: 90%;
  max-width: 1440px;
  &__productDetail {
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }
}

// aside
.aside {
  &__productDetail {
    &-menu {
      display: flex;
      flex-direction: column;
    }

    &--info {
      &-title {
        width: 100%;
        font-size: 24px;
      }

      &-sec {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-price {
          font-size: 20px;
        }

        &-wishlist {
          img {
            height: 36px;
          }
        }
      }

      &-desc {
        margin-top: 16px;
      }

      &-tagLists {
        display: flex;
        gap: 6px;
        margin-top: 20px;

        &-tag {
          padding: 6px;
          background-color: var(--light-purple);
          color: #000;
          border: 1px solid var(--logo-color);
          border-radius: 6px;
          cursor: pointer;

          &:hover,
          &:active {
            color: #fff;
            background-color: var(--logo-color);
          }
        }
      }
    }

    // 구매 수량, 금액, 장바구니, 구매하기 버튼
    &--count {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;

      &-btns {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      &-btn {
        padding: 6px 10px;
        border: 1px solid var(--logo-color);
        border-radius: 6px;
        background-color: var(--light-purple);
        color: #000;

        @include btnEffect(var(--logo-color), #fff);
      }
    }

    &--totalPrice {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
    }

    &--btns {
      margin-top: 40px;
      display: flex;
      gap: 10px;
      justify-content: space-around;
      text-align: center;

      &-cart {
        @include cartbuyBtn();
        @include btnEffect(var(--logo-color), #fff);
      }

      &-buy {
        @include cartbuyBtn();
        @include btnEffect(var(--logo-color), #fff);
      }
    }
  }
}
