// @forward '../globals';

// 버튼 클릭했을 때 효과
@mixin btnEffect($backColor, $color: #fff) {
  &:hover,
  &:active {
    background-color: $backColor;
    color: $color;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.98);
  }
}

// 장바구니, 구매하기 버튼 중복코드
@mixin cartbuyBtn($color) {
  border: 1px solid $color;
  border-radius: 5px;
  width: 100%;
  padding: 14px 26px;
  color: $color;
}

// section
.section {
  &__container {
    // display: flex;
    // justify-content: center;
    margin: 60px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 600px 500px;
  }
  &__productDetail {
    display: flex;
    justify-content: center;

    img {
      width: 90%;
      object-fit: contain;
    }
  }
}

// aside
.aside {
  &__productDetail {
    &-menu {
      box-sizing: border-box;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--info {
      &-title {
        margin-bottom: 25px;
        font-size: 25px;
        font-weight: 900;
      }

      &-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-weight: 700;

        // &-price {
        //   font-size: 20px;
        // }
      }

      &-wishlistBtn {
        img {
          width: 30px;
          height: 30px;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      &-wishlistImg {
        height: 40px;
      }

      &-desc {
        margin-top: 16px;
        line-height: 1.7;
      }

      &-tagLists {
        display: flex;
        gap: 6px;
        margin-top: 20px;

        &-tag {
          padding: 6px 10px;
          color: var(--logo-color);
          border: 1px solid var(--logo-color);
          border-radius: 5px;
          cursor: default;
          //   &:hover,
          //   &:active {
          //     color: #fff;
          //     background-color: var(--logo-color);
          //   }
          // }
        }
      }
    }
    // 구매 수량, 금액, 장바구니, 구매하기 버튼
    &--count {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;

      &-btns {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      &-btn {
        padding: 6px 10px;
        border: 1px solid var(--logo-color);
        border-radius: 5px;
        color: #000;
        @include btnEffect(var(--logo-color), #fff);
      }
    }

    &--totalPrice {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
    }

    &--btns {
      margin-top: 40px;
      display: flex;
      gap: 10px;
      justify-content: space-around;
      text-align: center;

      &-cart {
        @include cartbuyBtn(var(--logo-color));
        @include btnEffect(var(--logo-color), #fff);
      }

      &-buy {
        @include cartbuyBtn(var(--logo-color));
        @include btnEffect(var(--logo-color), #fff);
      }

      &-soldOut {
        @include cartbuyBtn(var(--soldOut-color));
        background-color: var(--soldOut-color);
        color: #fff;
        cursor: not-allowed;
      }
    }
  }
}
.modal__addCart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid var(--deps-blue);
  background-color: #fff;
  box-shadow: var(--box-shadow);

  &-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  &--info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {
      height: 60px;
    }
    h4 {
      margin-top: 20px;
      text-align: center;
      font-size: 26px;
    }
  }

  &--btns {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    gap: 16px;
  }

  &--btn {
    padding: 10px 16px;
    border: 1px solid var(--logo-color);
    border-radius: 6px;

    &:active,
    &:hover {
      background-color: var(--logo-color);
      color: #fff;
    }

    &:active {
      transform: scale(0.98);
    }
    a {
      width: 100%;
      height: 100%;
    }
  }
}
