.mypage__account {
  h2 {
    margin-bottom: 52px;
  }
  .user__account {
    position: relative;
    .total__balance {
      font-size: 14px;
      margin-top: 20px;
      text-align: right;
      span {
        color: var(--light-purple);
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin: 10px 0;
      li {
        padding: 20px;
        border: 1px solid #eee;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fafafa;
        line-height: 36px;
        flex-grow: row;
        height: auto;
        p {
          display: flex;
          margin: 0 20px;
          align-items: center;
        }
        p::before {
          background-color: #dadce0;
          content: '';
          height: 12px;
          margin-right: 20px;
          width: 1px;
        }
        p::after {
          background-color: #dadce0;
          content: '';
          height: 12px;
          margin-left: 20px;
          width: 1px;
        }

        span {
          display: block;
        }

        button {
          position: absolute;
          right: 30px;
        }
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: var(--light-purple);
      padding: 5px;
      width: 81px;
      height: 30px;
      color: #fff;
    }

    .btn__create__account {
      margin: 20px auto;
    }
  }
}
.create__account {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  &__modal {
    position: relative;
    top: 25%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid;
    width: 550px;
    margin: 0 auto;

    .modal__container {
      position: relative;
      padding: 40px;

      h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 40px;
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-bottom: 20px;

        li {
          margin: 10px 0;
        }
      }

      div {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        span {
          width: 120px;
        }
        .create__input {
          border: 1px solid #dadce0;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 14px;
          height: 40px;
          outline: none;
          padding: 0 10px;
          width: 100%;
        }
      }

      .modal__notice {
        display: block;

        p {
          color: #c1c1c1;
          font-size: 13px;
          margin-bottom: 8px;
        }

        p:first-child {
          margin-top: 30px;
        }
      }

      #btnFinalCreate {
        margin: 40px auto 0;
        bottom: 5px;
        width: 80px;
        height: 33px;
        text-align: center;
        background-color: var(--light-purple);
        color: #fff;
      }

      #btnCloseModal {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        font-size: 30px;
      }
    }
  }
}

.delete__account {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  &__modal {
    position: relative;
    top: 40%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid;
    width: 550px;
    margin: 0 auto;

    .modal__container {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 40px;
      }
      button {
        margin: 40px 10px 0;
        bottom: 5px;
        width: 80px;
        height: 33px;
        text-align: center;
        border-radius: 5px;
        background-color: var(--light-purple);
        color: #fff;
        border: 0;
      }
    }
  }
}
