@import '../globals/';
@mixin row-center {
  display: flex;
  justify-content: center;
}
@mixin center {
  display: flex;
  flex-direction: column;
}
@mixin straight {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: center;
}

.mypage {
  display: grid;
  place-content: center;
  box-sizing: border-box;
  width: 1440px;
  padding: 32px 0 0;
  .mypage__container {
    display: flex;
    margin-top: 32px;
    width: 1200px;
  }
}

.mypage__orderhistory {
  padding-left: 80px;
  width: 80%;
  min-height: 450px;
  h2 {
    font-size: 22.4px;
    padding: 0 0 16px;
    border-bottom: 2px solid #000;
  }
  .order-specific {
    margin-top: 16px;
    display: flex;
  }
  .product-container {
    box-sizing: border-box;
    border: 1px solid var(--light-purple);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr 1.5fr;
    width: 100%;
    height: 122px;
    .product--image {
      width: 80px;
      height: 100px;

      .mypage__orderhistory {
        padding-left: 80px;
        width: 80%;
        min-height: 450px;
        h2 {
          font-size: 22.4px;
          padding: 0 0 16px;
          border-bottom: 2px solid #000;
        }
        .order-specific {
          margin-top: 16px;
          display: flex;
        }
        .product-container {
          box-sizing: border-box;
          border: 1px solid var(--light-purple);
          border-radius: 5px;
          margin-bottom: 30px;
          padding: 10px;
          display: grid;
          grid-template-columns: 1fr 8fr 1.5fr;
          width: 100%;
          height: 122px;
          .product--image {
            width: 80px;
            height: 100px;

            background-color: red;
          }
          .product-info {
            @include straight;
            margin-left: 20px;
            .product--name {
              margin: 5px 0;
              font: {
                size: 20px;
                weight: 600;
              }
            }
            div {
            }
          }
          .order-status {
            @include center;
            font-weight: 600;
          }
        }
        .payment-info--title {
          font-size: 19.2px;
          margin-bottom: 16px;
        }
        .payment-info {
          display: grid;
          grid-template-columns: 3fr 2fr;
          grid-template-rows: 59px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid var(--light-purple);
          border-radius: 5px;
          span {
            text-align: left;
          }
          .payment--type {
            box-sizing: border-box;
            padding: 10px;
            height: 100%;
            @include straight;
            justify-content: space-between;
            span :first-child {
              color: #666;
            }
          }
          .payment--price {
            box-sizing: border-box;
            padding: 10px;
            height: 100%;
            background-color: var(--light-purple);
            @include straight;
            justify-content: space-between;
            span :first-child {
              color: #666;
            }
          }
        }
      }
    }
  }
}
