// @mixin row-center {
//   display: flex;
//   justify-content: center;
// }
// @mixin center {
//   display: flex;
//   flex-direction: column;
// }
// @mixin straight {
//   display: flex;
//   flex-direction: column;
// }

@mixin section-header {
  font-size: 50px;
  font-weight: 600;
  color: var(--logo-color);
}