.modal {
  &-wrap {
    position: absolute;
    left: 40vw;
    bottom: 40vh;
    border: 1px solid var(--light-purple);
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    img {
      width: 30px;
      height: 30px;
    }
  }
  &-text {
    font : {
      weight: 700;
      size: 17px;
    }
  }
  .buttons {
    display: flex;
    button {
      border: 1px solid var(--light-purple);
      background-color: var(--light-purple);
      color: #fff;
      border-radius: 5px;
      height: 45px;
      margin: 0 10px;
      padding: 0 5px;
      &:nth-child(2) {
        border: 1px solid var(--light-purple);
        background-color: #fff;
        color: var(--light-purple);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
