.wishlist__product--list {
  img {
    width: 150px;
  }
}

.mypage__wishlist {
  &--container {
    h3 {
      font-size: 23px;
      margin-bottom: 30px;
    }
  }
}

.wishlist {
  &__product {
    &--lists {
    }

    &--list {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--division-line);

      &-container {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &-AddRemoveBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 20px;
        button {
          width: 85px;
          height: 35px;
          padding: 3px 6px;
          text-align: center;
          border: 1px solid;
          border-radius: 6px;
          img {
            width: 20px;
            height: 20px;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }

      &-AddToCartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }

    &--info {
      &-desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--light-purple);
        img {
          margin: 20px 0;
        }
      }
    }
    .heart-products {
      .heart-product {
        border: 1px solid #f5f5f5;
        margin: 25px 0;
        padding: 5px 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 162px;
        position: relative;

        .heart-product--img {
          // width: 100px;
          // height: 100px;
          background-color: red;
        }
        .heart-product--info {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          a {
            display: inline-block;
            span {
              font-size: 20px;
              color: #000;
            }
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          button {
            border: 1px solid var(--light-purple);
            border-radius: 5px;
            width: 81px;
            height: 30px;
            margin: 7px 0;
            padding: 7px;
            text-align: center;
            color: var(--light-purple);
            &:nth-child(2) {
              background-color: var(--light-purple);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.modal-heart {
  button {
    &:nth-child(2) {
      a {
        color: var(--light-purple);
      }
    }
  }
}
