.wishlist__product--list {
  img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-right: 20px;
  }
}

.wishlist {
  &__product {
    &--list {
      border: 1px solid var(--division-line);
      border-radius: 5px;
      margin: 10px 0 0;
      padding: 5px;
      display: grid;
      grid-template-columns: 4fr 1fr;
      height: 162px;
      align-items: center;
      &-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        .wishlist__product--info {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          &-title {
            margin-bottom: 10px;
            display: inline-block;
            font-size: 20px;
          }
        }
      }

      &-AddRemoveBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
          border: 1px solid var(--logo-color);
          border-radius: 5px;
          margin: 7px 0;
          padding: 7px;
          width: 81px;
          height: 30px;
          text-align: center;
          color: var(--logo-color);
        }
        .wishList-AddToCartBtn {
          background-color: var(--logo-color);
          color: #fff;
        }
      }

      &-AddToCartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }

    &--info {
      &-desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--light-purple);
        img {
          margin: 20px 0;
        }
      }
    }
    .heart-products {
      .heart-product {
        border: 1px solid #f5f5f5;
        margin: 25px 0;
        padding: 5px 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 162px;
        position: relative;

        .heart-product--img {
          // width: 100px;
          // height: 100px;
          background-color: red;
        }
        .heart-product--info {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          a {
            display: inline-block;
            span {
              font-size: 20px;
              color: #000;
            }
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          button {
            border: 1px solid var(--light-purple);
            border-radius: 5px;
            width: 81px;
            height: 30px;
            margin: 7px 0;
            padding: 7px;
            text-align: center;
            color: var(--light-purple);
            &:nth-child(2) {
              background-color: var(--light-purple);
              color: #fff;
            }
          }
        }
      }
    }
  }
  &--empty {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    img {
      width: 60px;
    }
    &__title {
      padding-bottom: 16px;
    }
    button {
      border: 1px solid var(--logo-color);
      border-radius: 5px;
      padding: 10px 20px;
      a {
        color: var(--logo-color);
      }
      &:hover {
        background-color: var(--logo-color);
        a {
          color: #fff;
        }
      }
    }
  }
}

.modal-heart {
  button {
    &:nth-child(2) {
      a {
        color: var(--logo-color);
      }
    }
  }
}

.wishList__pagination {
  &--btnsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  @mixin wishListPaginationBtn {
    padding: 6px 10px;
    border: 1px solid var(--logo-color);
    border-radius: 6px;
    &:hover {
      color: #fff;
      background-color: var(--logo-color);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &--btn {
    @include wishListPaginationBtn();
    &-prev {
      @include wishListPaginationBtn();
    }
    &-next {
      @include wishListPaginationBtn();
    }
  }
}
