@forward './modal.scss';
@forward './orderhistory.scss';
@forward './account.scss';
@forward './myheart.scss';
@forward './detailorderhistory.scss';
@forward './editPersonalInfo.scss';

.mypage__container {
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  .mypage__navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    gap: 40px;

    h1 {
      font-size: 26px;
      font-weight: 800;
    }

    nav {
      display: flex;
      flex-direction: column;

      ul {
        li {
          border: 1px solid #eee;

          a {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding: 16px;
          }
        }

        li:hover,
        li.active {
          background-color: #fafafa;
          a {
            color: var(--logo-color);
            font-weight: 800;
          }
        }
      }
    }
  }
  .mypage__navigo__container {
    margin-left: 30px;
    width: calc(100% - 260px);
    min-height: 450px;
    h2 {
      font-size: 22.4px;
      font-weight: 800;
      padding: 0 0 16px;
      border-bottom: 2px solid #000;
    }
  }
}

// .loadingGif {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   backdrop-filter: blur(2px);
//   display: none;

//   #img-loadingGIF {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto;
//     width: 200px;
//     height: 200px;
//   }
// }
