@forward '../globals';
@forward './account.scss';
@forward './orderhistory.scss';

label {
  display: block;
}

.mypage__app {
  display: grid;
  place-content: center;
  width: 1440px;
  margin: 0 auto;
}

.mypage__container {
  display: flex;
  margin-top: 2rem;
  width: 74vw;
  position: relative;

  .mypage__navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25%;
    // z-index: 200;

    h1 {
      font-size: 1.6rem;
      // font-weight: 800;
    }

    nav {
      display: flex;
      flex-direction: column;
      // gap: 2rem;
      // width: 25%;
      // // z-index: 200;
      // flex-shrink: 0;

      ul {
        li {
          border: 1px solid #eee;
          border-bottom: none;
          font-size: 0.9rem;

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            color: #000;
          }
        }

        li:hover {
          background-color: #fafafa;

          a {
            color: #5f0080;
            font-weight: bold;
          }
        }
        li:last-child {
          border-bottom: 1px solid #eee;
        }
        li.active {
          background-color: #fafafa;

          a {
            color: #5f0080;
            font-weight: bold;
          }
        }
      }
    }
  }
  .mypage__navigo__container {
    margin-left: 2rem;
    width: 80%;
    height: 900px;
    // flex-shrink: 0;
  }
}

.loadingGif {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;

  #img-lodingGIF {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
  }
}
