@import '../globals/';
@import './mixin.scss';
@import './modal.scss';

.nodisplay {
  display: none;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  padding: 20px 200px 20px;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: var(--box-shadow);

  &__user {
    display: flex;
    justify-content: flex-end;

    &-login {
      display: flex;
      justify-content: flex-end;

      &--ul {
        display: flex;
        gap: 5px;
      }

      &-li {
      }
    }
  }

  &-main {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__logo {
      height: 80px;
    }

    &__company-name {
      font-size: 30px;
    }

    &__search {
      width: 50%;
      border: 1px solid;

      &--form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid var(--light-purple);
      }

      &--input {
        width: 100%;
        height: 80%;
        border-radius: 3px;
        border: none;

        &:focus,
        &:active {
          outline: none;
        }
      }

      &--button {
        img {
          height: 30px;
          margin-right: 10px;
          color: var(--light-purple);
          cursor: pointer;
        }
      }
    }

    &__links-img {
      height: 40px;
    }
  }

  &-nav {
    &-category {
      margin-top: 40px;
      &--ul {
        display: flex;
        justify-content: space-between;
      }

      &--li {
        a {
          font-size: 20px;
        }
      }
    }
  }
}

.mypage {
  display: grid;
  place-content: center;
  box-sizing: border-box;
  width: 1440px;
  padding: 32px 0 0;

  .mypage__container {
    display: flex;

    margin-top: 2rem;
    width: 1200px;
    // width: 74vw;

    .mypage__navbar {
      @include straight;
      gap: 2rem;
      width: 20%;
      z-index: 200;

      h1 {
        font-size: 1.6rem;
        // font-weight: 800;
      }

      nav {
        @include straight;
        ul {
          li {
            border: 1px solid #fafafa;
            border-bottom: none;
            font-size: 0.9rem;
            &:nth-child(3) {
              background-color: #fafafa;
              a {
                color: var(--light-purple);
              }
            }
            a {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1rem;
              color: #000;
              &:hover {
                background-color: #fafafa;
                color: var(--light-purple);
              }
            }
            // a:visited {
            //   text-decoration: none;
            //   color: var(--light-purple);
            // }
          }
        }
      }
    }
    .mypage__account__container {
      margin-left: 2rem;
      width: 1440px;
      height: 100vh;

      .mypage__account__wrapper {
        .mypage__account__header {
          border-bottom: 2px solid #fff;
          padding-bottom: 1rem;

          h1 {
            font-size: 30px;
            // font-weight: bold;
          }
        }

        .user__account {
          p {
            font-size: 14px;
            margin-top: 20px;
            text-align: right;

            span {
              color: var(--light-purple);
              // font-weight: bold;
            }
          }

          ul {
            @include straight;
            gap: 20px;
            margin: 10px 0;

            li {
              padding: 20px;
              border: 2px solid;
              position: relative;
              display: flex;
              align-items: center;

              span {
                font-size: 20px;
                display: block;
              }

              span::before {
              }
              span::after {
              }

              button {
                position: absolute;
                right: 30px;
              }
            }
          }
          div {
            text-align: center;
          }
        }
      }
    }
    .mypage__myheart {
      padding-left: 80px;
      width: 80%;
      min-height: 450px;
      h2 {
        font-size: 22.4px;
        padding: 0 0 16px;
        border-bottom: 2px solid #000;
      }
      .heartproducts-container {
        position: relative;
        min-height: 450px;

        /*찜한상품없음*/

        .heart-products {
          box-sizing: border-box;
          padding: 0 20px;
          .heart-product {
            box-sizing: border-box;
            padding: 20px 0;
            width: 100%;
            height: 141px;
            position: relative;
            display: flex;
            border-bottom: 1px solid #dedede;
            .product--img {
              width: 100px;
              height: 100px;
              background-color: red;
            }
            .product-info {
              display: flex;
              align-items: center;
              margin-left: 20px;
              a {
                height: 43px;
                @include straight;
                justify-content: space-between;
                span:nth-child(1) {
                  font-size: 14px;
                  color: #404040;
                }
                span:nth-child(2) {
                  color: #000;
                  font-weight: 700;
                }
              }
            }
            .buttons {
              position: absolute;
              right: 0;
              @include straight;
              button {
                border-radius: 5px;
                width: 85px;
                height: 35px;
                @include center;
                margin: 8px 0;
                font : {
                  size: 12px;
                  weight: 700;
                }
                &:nth-child(1) {
                  border: 1px solid #dedede;
                }
                &:nth-child(2) {
                  color: var(--light-purple);
                  border: 1px solid var(--light-purple);
                }
              }
            }
          }
        }
      }
    }
  }
}
