.app {
  
  .container {
    display: flex;

    aside {
      flex-direction: column;

      ul {
        li {
          border: 1px solid #eee;

          a {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding: 16px;
            color: #000;
          }
        }

        li:hover {
          background-color: #fafafa;

          a {
            color: var(--light-purple);
            font-weight: 800;
          }
        }
        li.active {
          background-color: #fafafa;

          a {
            color: var(--light-purple);
            font-weight: 800;
          }
        }
      }
    }
  }
}
