.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 60px;
  margin: 0 auto;

  aside {
    ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-right: 30px;

      h1 {
        font-size: 26px;
      }

      nav {
        display: flex;
        flex-direction: column;

        li {
          border: 1px solid #eee;

          a {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding: 16px;
            color: #000;
          }
        }

        li:hover {
          background-color: #fafafa;

          a {
            color: var(--logo-color);
            font-weight: 600;
          }
        }
        li.active {
          background-color: #fafafa;

          a {
            color: var(--logo-color);
            font-weight: 600;
          }
        }
      }
    }
  }
}
