.productDetail-container {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  min-height: 900px;
  padding: 30px;

  & > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .section {
    display: flex;
    justify-content: space-between;

    & img {
      width: 40%;
    }

    &-container {
      flex-basis: 55%;

      &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--category > p {
          border: 1px solid var(--logo-color);
          background-color: var(--logo-color);
          color: #fff;
          border-radius: 6px;
          padding: 3px;
          display: inline;
          font-size: 14px;
        }

        & > div > h2 {
          margin-bottom: 6px;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    &--edit {
      border-radius: 6px;
      border: 1px solid var(--logo-color);
      padding: 12px 24px;
      margin-right: 10px;

      &:hover,
      &:active {
        color: #fff;
        background-color: var(--logo-color);
      }
    }

    &--delete {
      border-radius: 6px;
      border: 1px solid var(--logo-color);
      padding: 12px 24px;

      &:hover,
      &:active {
        color: #fff;
        background-color: var(--logo-color);
      }
    }
  }
}
