@use '../globals/utils' as u;

.categoryPage {
  margin-top: 60px;
  min-height: 450px;
  // height: 1500px; // 있어야 sticky 동작
  display: flex;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
  }

  &__aside {
    margin-top: 50px;
    width: 200px;
    height: 870px;
    position: sticky;
    top: 15px;
    &--container {
      border: 1px solid;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      border: 1px solid var(--logo-color);
      border-radius: 16px;
      h4 {
        margin: 0 auto;
        border-bottom: 1px solid;
      }
    }

    &--wrapper {
      margin: 20px 10px;
      min-height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &--img {
      display: flex;
      a {
        display: flex;
        justify-content: center;
      }
      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  &__main {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: flex-start;

    &--container {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
    }

    &--filter {
      border-bottom: 2px solid #000;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-select {
        padding: 6px 8px;
        border: 1px solid #000;
        border-radius: 5px;
      }
    }
  }

  &__product {
    &--lists {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      min-height: 450px;
    }
    &--list {
      margin: 20px 5px;
      a {
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &:hover {
        transition: 0.5s ease, border 0.2s ease;
        box-shadow: u.$boxShadow;
      }
    }
    &--img {
      width: 280px;
      height: 280px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }

    &--info {
      box-sizing: border-box;
      padding: 20px 4px 15px;
      width: 100%;
      font-size: 18px;
      &-title {
        padding: 0 0 10px 0;
        font-weight: 600;
      }
    }
  }
}
@mixin skeletonUI($width, $height) {
  opacity: 0.7;
  animation: skeleton-loading 0.5s linear infinite alternate;
  border-radius: 5px;
  width: $width;
  height: $height;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.categoryPage {
  &__skeleton {
    &--img {
      @include skeletonUI(260px, 260px);
    }
    &--title {
      @include skeletonUI(100px, 40px);
    }
  }
}

.orderHistoryPage__skeleton {
  @include skeletonUI(900px, 172px);
  margin: 25px 0;
}

.productDetail__skeleton {
  &--container {
    display: flex;
    margin: 100px 0;
  }

  &--img {
    margin-left: 200px;
    object-fit: contain;
    @include skeletonUI(500px, 500px);
  }

  &--aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-desc {
      margin-left: 100px;
      @include skeletonUI(500px, 60px);
    }
  }
}

@mixin categoryPaginationBtn {
  border: 1px solid var(--logo-color);
  border-radius: 5px;
  padding: 6px 10px;
  &:hover {
    color: #fff;
    background-color: var(--logo-color);
  }
}

.categoryPage__pagination {
  &--btn {
    @include categoryPaginationBtn();
    &-container {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    button {
      border-radius: 50%;
    }
    button.active-btn {
      border: 1px solid var(--logo-color);
      border-radius: 50%;
    }
    &-prev,
    &-next {
      border: 1px solid var(--logo-color);
      border-radius: 5px;
      padding: 6px 10px;
    }
    &-prev:hover,
    &-next:hover {
      background-color: var(--logo-color);
      color: #fff;
    }
  }
}
