.searchPage__noResult {
  &--container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 100px;
    span {
      font-size: 18px;
      &.searchPage__noResult--inputValue {
        font-size: 50px;
      }
    }
  }
  &--buttons {
    display: flex;
    gap: 10px;
  }
  &--button {
    padding: 5px 15px;
    border: 1px solid var(--logo-color);
    border-radius: 5px;
    color: var(--logo-color);
    &:hover {
      background-color: var(--logo-color);
      color: #fff;
    }
  }
}
