/* 헤더 시작*/
@forward '../globals';

/* 로그인 시작*/
.login__container {
  text-align: center;
  margin: 20px;

  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      height: 54px;
      width: 400px;
      box-sizing: border-box;
      padding: 9px;
    }
  }

  .buttons {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    button {
      background-color: rgb(54, 30, 27);
      height: 45px;
      width: 400px;
      margin: 0 auto;
      border-radius: 3px;

      a {
        display: block;
        line-height: 45px;
        color: inherit;
      }
    }
  }
}
