@forward './globals';

@forward './main.scss';

@forward './admin/admin.scss';
@forward './admin/dashboard.scss';
@forward './admin/order.scss';
@forward './admin/orderDetail.scss';
@forward './admin/product.scss';
@forward './admin/productAdd.scss';
@forward './admin/productDetail.scss';
@forward './admin/productEdit.scss';

@forward './productDetail/productsDetail.scss';
@forward './cart/cart.scss';
@forward './payment/payment.scss';
@forward './category/category.scss';
@forward './search/search.scss';

@forward '../scss/mypage/mypage.scss';
@forward '../scss/login/login.scss';
@forward '../scss/signup/signup.scss';

@forward './errorPage/errorPage.scss';
