@forward 'globals';
@forward '../scss/mypage/mypage.scss';
@forward '../scss/login/login.scss';
@forward '../scss/signup/signup.scss';

@mixin section-header {
  font-size: 50px;
  font-weight: 600;
  color: var(--logo-color);
}

// .app {
//   width: 1300px;
// }

.mypage__app {
  display: grid;
  place-content: center;
  width: 1440px;
}

// body {
//   width: 100%;
//   min-width: 1540px;
//   height: auto;
//   justify-content: center;
//   align-content: center;
// }

img {
  cursor: pointer;
  border-radius: 6px;
}

.header-container {
  justify-content: center;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;

  padding: 20px 200px 20px;
  border-bottom: 1px solid var(--division-line);
  box-shadow: var(--box-shadow);

  &__user {
    display: flex;
    justify-content: flex-end;
    &-login {
      display: flex;
      justify-content: flex-end;

      &--ul {
        display: flex;
        gap: 5px;
        &--li {
          a {
            color: var(--logo-color);
          }
        }
      }
    }
  }

  &-main {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__logo {
      height: 72px;
      margin-right: 10px;
    }

    &__company-name {
      font-size: 28px;
      color: var(--logo-color);
    }

    &__search {
      width: 45%;

      &--form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid var(--logo-color);
        border-radius: 6px;
      }

      &--input {
        width: 100%;
        height: 80%;
        padding-left: 16px;
        border: none;

        &:focus,
        &:active {
          outline: none;
        }
      }

      &--button {
        img {
          height: 30px;
          margin-right: 10px;
          color: var(--logo-color);
          cursor: pointer;
        }
      }
    }

    &__links-img {
      height: 40px;
      margin: 0 8px;
    }
  }

  &-nav {
    &-category {
      margin-top: 40px;
      display: flex;
      justify-content: space-evenly;
      &--dropbtn {
        color: var(--logo-color);
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      &--dropitem {
        position: relative;
        display: inline-block;
        &:hover {
          .dropdown-content {
            display: block;
          }
          .dropbtn {
            background-color: var(--division-line);
          }
        }
      }
      &--dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: #ddd;
          }
        }
      }
      // &--ul {
      //   display: flex;
      //   justify-content: space-evenly;
      // }

      // &--li {
      //   margin: 0 100px;
      //   a {
      //     color: var(--logo-color);
      //     font-size: 18px;
      //   }
      // }
    }
  }
}

.weekly-container {
  margin: 60px 10px;
  height: 680px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    @include section-header;
    margin-bottom: 48px;
    img {
      display: block;
      padding: 0 0 38px 0;
      object-fit: contain;
    }
  }
  .weekly--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    &--mainImg {
      display: flex;
      margin-right: 10px;
      object-fit: cover;
    }
    ul.weekly-products {
      place-items: center;
      display: grid;
      grid-template-rows: repeat(2, 262px);
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      > li.weekly-product {
        padding: 0 20px;
        //position: absolute;
        > a {
          img {
            width: 201px;
            height: 201px;
            object-fit: cover;
          }
        }
      }
      > li.weekly-info-area {
        line-height: 1.5;
        font-size: 15px;
        width: 201px;
        height: 201px;
        border: none;
        border-radius: 6px;
        margin: 20px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translate(-241px, -133px);
        transition: all 0.5s cubic-bezier(0, 0.04, 0.43, 0.91);
        color: #8c52ff;
        background-color: rgba(255, 255, 255, 0.73);
        // background-color: yellow;
        text-align: center;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
        ul.info-list {
          color: var(--logo-color);
          // overflow: hidden;
          // text-overflow: ellipsis;
          // display: -webkit-box;
          li.info--descr {
            color: var(--soldOut-color);
          }
        }
      }
    }
  }
}

.new-product-modal {
  padding: 40px 10px;
  background-color: var(--division-line);
  height: 1230px;
  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      color: var(--logo-color);
      font-size: 30px;
      font-weight: 900;
      width: 230px;
      height: 73px;
      border: 1px solid var(--logo-color);
      border-radius: 50%;
    }
  }
  ul.new-products {
    margin-bottom: 20px;
    place-items: center;
    display: grid;
    grid-template-rows: repeat(2, 530px);
    grid-template-columns: repeat(4, 1fr);
    li.new-product {
      height: 371px;
      display: block;
      a {
        min-width: 100%;
        height: auto;
        color: var(--logo-color);
        img {
          object-fit: contain;
          width: 265px;
          margin-bottom: 10px;
        }
        .division-line {
          border: 1px solid var(--logo-color);
          margin: 10px 0;
        }
        .product--price {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 800px;
  .best-design-modal {
    flex-direction: column;
    margin: 40px 10px;

    .main-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .curve-line {
        width: 132px;
        height: 17px;
        margin: 30px 0;
      }
      .section-header {
        @include section-header;
        margin-bottom: 40px;
      }
    }

    .best-designs {
      .sub {
        color: var(--logo-color);
        font-size: 18px;
        font-weight: 600;
        margin: 0 30px 30px 0;
      }
      .best-design {
        &__products {
          display: flex;
          flex-direction: row;
          ul.best_items {
            flex-direction: column;
            justify-content: space-evenly;
            li.best_item {
              img {
                width: 220px;
                height: 180px;
                object-fit: cover;
                margin: 0 0 20px 20px;
              }
            }
          }
          img {
            display: block;
            object-fit: cover;
            border-radius: 6px;
            width: 640px;
          }
        }
      }
    }
  }
}

.footer-container {
  min-width: 100%;
  height: 255px;
  background-color: var(--logo-color);
  color: #fff;

  footer {
    padding: 40px;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-between;

    .footer-left {
      .footer-menu {
        margin-bottom: 14px;
        a {
          span {
            color: #fff;
            margin-right: 8px;
          }
        }
      }
      .footer-info {
        margin-bottom: 12px;
        span {
          margin-right: 10px;
        }
      }
    }

    .footer-right {
      .footer-cs-center {
        margin-bottom: 12px;
      }
    }
  }
}
