// common
.body {
  width: 1500px;
  margin: 0 auto;
}
img {
  cursor: pointer;
  border-radius: 5px;
}
.nodisplay {
  display: none;
}
button:active {
  transform: scale(0.95);
}
.active-btn {
  background-color: var(--logo-color);
  color: #fff;
}
// header
.header-banner {
  background: linear-gradient(70deg, #8c52ff, var(--deps-blue));
  width: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
  }
}
.admin--outlink {
  width: 16px;
  height: 16px;
}
#header__user-login-name {
  // display: flex;
  // align-items: center;
  margin-right: 10px;

  &:hover {
    border-bottom: 3px solid #000;
  }
}
.header {
  display: flex;
  flex-direction: column;
  padding: 0 100px 10px;
  border-bottom: 1px solid var(--division-line);
  position: relative;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
  &__user {
    display: flex;
    justify-content: flex-end;
    &-login {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      &--ul {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 19px;
        // .header__user-login--li {
        //   display: flex;
        //   align-items: center;
        //   font-weight: 600;
        //   a {
        //     padding: 5px;
        //     color: var(--logo-color);
        //     img {
        //       border-radius: 0;
        //       width: 15px;
        //     }
        //   }
        //   a:hover {
        //     background-color: var(--logo-color);
        //     border-radius: 5px;
        //     color: #fff;
        //   }
        // }
        #btnlogin,
        #btnlogout {
          padding: 3px 5px;
          border: 1px solid #eee;
          border-radius: 5px;
        }
      }
    }
  }
  &-main {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1.5fr 4fr 0.7fr;
    align-items: center;

    &__logo {
      margin-bottom: 20px;
      padding: 0 30px 0;
      height: 80px;
    }

    &__search {
      &--form {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      &--input {
        outline: none;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 10px 30px;
        width: 1px;
        height: 50px;
        font-size: 20px;
        transition: all 0.3s;
        &.active {
          width: 800px;
          border: 1px solid var(--division-line);
        }
        &:focus {
          border: 1px solid var(--logo-color);
        }
      }
      &--button {
        position: absolute;
        right: 10px;
        img {
          width: 30px;
        }
      }
      &--close-button {
        position: absolute;
        right: 10px;
        width: 30px;
      }
    }
    &__links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &-img {
        height: 30px;
        margin-left: 30px;
      }
      a:nth-child(1) img {
        margin-left: 20px;
      }
    }
  }

  @mixin headerQty($translateX) {
    position: absolute;
    transform: translateX($translateX) translateY(-10%);
    width: 20px;
    height: 20px;
    border: 1px solid var(--deps-blue);
    border-radius: 50%;
    text-align: center;
    background-color: var(--deps-blue);
    color: #fff;
    font-weight: 900;
  }

  &__wishlist {
    position: relative;
    width: 34px;

    &--qty {
      @include headerQty(-100px); //120%
    }
  }
  &__cart {
    position: relative;

    &--qty {
      @include headerQty(-40px); //140%
    }
  }

  &-nav {
    &__category {
      &--lists {
        display: flex;
        justify-content: space-evenly;
        margin: 10px;

        a {
          border-bottom: 3px solid rgba(0, 0, 0, 0);
          padding: 5px 7px;
          font-weight: 600;
          font-size: 18px;
          position: relative;
          &:hover:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            bottom: 30px;
            left: 0px;
            background: var(--deps-blue);
          }
        }
      }
    }
    &--list {
      padding: 12px 16px 5px;
    }
  }
}

.loadingGif {
  box-sizing: border-box;
  width: 100%;
  min-height: 510px;
  margin: auto;
  padding: 0 100px;
  #img-loadingGIF {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
  }
}

//app
.app {
  box-sizing: border-box;
  width: 100%;
  min-height: 510px;
  margin: auto;
  padding: 0 100px;
}

// footer
footer {
  border-top: 1px solid var(--division-line);
  box-sizing: border-box;
  height: 400px;
  .footer-container {
    margin: 20px 100px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 200px 200px 200px 200px;
    .footer-item {
      display: flex;
      flex-direction: column;
      h6 {
        margin: 10px 0;
        font-weight: 800;
        font-size: 18px;
      }
      span {
        margin: 5px 0;
        font-size: 15px;
      }
      .icons-wrap {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .footer-icon {
          height: 30px;
        }
      }
    }
    .footer-third {
      gap: 50px;
      a {
        font-size: 10px;
        color: #000;
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid var(--division-line);
    .footer-container {
      margin: 30px 0 0;
      display: flex;
      font-size: 13px;
    }
  }
}

// 메인 페이지 hero

.mainPage {
  display: flex;
  justify-content: center;
  padding: 40 0px;

  &__img-container {
    width: 1300px;
  }

  &__hero {
    position: relative;
    margin-bottom: 30px;

    &--img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 20px;

      animation: layIMGLoading 0.7s cubic-bezier(0.4, 0, 0.2, 1);
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      // transition-duration: 0.7s;
    }

    &--info-container {
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      text-align: center;
      color: white;
      animation: layIMGLoading 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--title {
      font-size: 60px;
    }

    &--desc {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &--btn {
      padding: 8px 16px;
      font-size: 20px;
      font-weight: 900;
      color: black;
      background-color: var(--deps-pink);
      border-radius: 6px;
    }
  }
}

@keyframes layIMGLoading {
  0% {
    filter: blur(70px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
