// @mixin section-header {
//   font-size: 50px;
//   font-weight: 600;
//   color: var(--logo-color);
// }

.mypage__app {
  display: grid;
  place-content: center;
  width: 1440px;
}

img {
  cursor: pointer;
  border-radius: 6px;
}

// header
.header_container {
  &-container {
    justify-content: center;
    width: 100%;
  }
}
.header {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 20px 200px 0;
  border-bottom: 1px solid var(--division-line);
  box-shadow: 0 0 25px rgb(0 0 0 / 10%);

  &__user {
    display: flex;
    justify-content: flex-end;
    &-login {
      display: flex;
      justify-content: flex-end;

      &--ul {
        display: flex;
        gap: 5px;
        &--li {
          a {
            color: var(--logo-color);
          }
        }
      }
    }
  }

  &-main {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__logo {
      height: 72px;
      margin-right: 10px;
    }

    &__company-name {
      font-size: 28px;
      color: var(--logo-color);
    }

    &__search {
      width: 45%;

      &--form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid var(--logo-color);
        border-radius: 6px;
      }

      &--input {
        width: 100%;
        height: 80%;
        padding-left: 16px;
        border: none;

        &:focus,
        &:active {
          outline: none;
        }
      }

      &--button {
        img {
          height: 30px;
          margin-right: 10px;
          color: var(--logo-color);
          cursor: pointer;
        }
      }
    }

    &__links-img {
      height: 40px;
      margin: 0 8px;
    }
  }

  &-nav {
    &__category {
      margin: 10px 0 0;
      &--lists {
        display: flex;
        justify-content: space-evenly;
        margin: 10px;

        a {
          color: black;
          font-weight: 900;

          &:hover {
            color: #fff;
            background-color: var(--deps-blue);
            border-radius: 10px;
            transition: ease 0.3s;
          }
        }
      }
      &--list {
        padding: 12px 16px;
      }
    }
  }
}
.loadingGif {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;

  #img-loadingGIF {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
  }
}

// footer
.footer-container {
  min-width: 100%;
  height: 255px;
  background-color: var(--logo-color);
  color: #fff;

  footer {
    padding: 40px;
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-between;

    .footer-left {
      .footer-menu {
        margin-bottom: 14px;
        a {
          span {
            color: #fff;
            margin-right: 8px;
          }
        }
      }
      .footer-info {
        margin-bottom: 12px;
        span {
          margin-right: 10px;
        }
      }
    }

    .footer-right {
      .footer-cs-center {
        margin-bottom: 12px;
      }
    }
  }
}

// 메인 페이지 hero

.mainPage {
  display: flex;
  justify-content: center;
  width: 1400px;
  margin: 0 auto;
  padding: 40px;

  &__container {
    width: 1200px;
  }

  &__img-container {
    width: 100%;
  }

  &__hero {
    position: relative;
    margin-bottom: 30px;

    &--img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 20px;

      animation: layIMGLoading 0.7s cubic-bezier(0.4, 0, 0.2, 1);
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      // transition-duration: 0.7s;
    }

    &--info-container {
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      text-align: center;
      color: white;
      animation: layIMGLoading 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--title {
      font-size: 60px;
    }

    &--desc {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &--btn {
      padding: 8px 16px;
      font-size: 20px;
      font-weight: 900;
      color: black;
      background-color: var(--deps-pink);
      border-radius: 6px;
    }
  }
}

@keyframes layIMGLoading {
  0% {
    filter: blur(70px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
