@forward 'globals';
body {
  display: flex;
  justify-content: center;
  // width: 1440px;
}
.header {
  display: flex;
  justify-content: flex-end;
  width: 1440px;
  padding: 20px 200px 0;

  &__user {
    display: flex;
    flex-direction: column;

    &-login {
      display: flex;
      justify-content: flex-end;

      &--ul {
        display: flex;
        gap: 5px;
      }

      &-li {
        > a {
          ::after {
            content: '|';
          }
        }
      }
    }
  }
}
