@forward '../globals';

.signup__container {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  &__input {
    display: flex;
    justify-content: center;

    ul {
      p {
        font-size: 12px;
        display: block;
        padding: 5px;
      }
      input {
        display: block;
        height: 54px;
        width: 460px;
        box-sizing: border-box;
        margin: 12px auto;
        padding: 0 9px;
      }

      input[type='text'] {
        border: 1px rgba(0, 0, 0, 0.2) solid;
      }

      input[type='password'] {
        border: 1px rgba(0, 0, 0, 0.2) solid;
      }
    }
  }

  &__checkbox {
    display: flex;
    width: 460px;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px dotted #000;

    .box {
      display: flex;
      gap: 10px;
      width: 100%;

      .input_chk {
        width: 13px;
        height: 13px;
      }

      span {
        color: rgb(102, 102, 102);
        font-size: 14px;
        font-weight: bold;

        span {
          color: #000;
        }
      }

      a {
        color: rgb(163, 163, 163);
        font-size: 13px;
        font-weight: bold;
        text-decoration: underline;
      }
      a:hover {
        color: #000;
      }
    }
    .box:nth-child(3) {
      padding-bottom: 20px;
      border-bottom: 1px dotted #000;
    }

    .submit-btn {
      background-color: rgb(54, 30, 27);
      color: white;
      height: 45px;
      width: 100%;
      margin: 20px auto;
      border-radius: 3px;
    }
  }
}
