// 프로젝트 메인 컬러
// $color-main1: #a2d2ff;
// $color-main2: #ffc8dd;
// $color-main3: #ffafcc;
// $color-main4: #bde0fe;
// $color-main5: #a2d2ff;

:root {
  --light-purple: #a2d2ff;
  --light-pink: #ffc8dd;
  --deps-pink: #ffafcc;
  --light-blue: #bde0fe;
  --deps-blue: #a2d2ff;
  --logo-color: #3e5bbf;
  --division-line: #e4e4e4;
}
