:root {
  --light-purple: #594577;
  --light-pink: #ffc8dd;
  --deps-pink: #ffafcc;
  --light-blue: #bde0fe;
  --deps-blue: #a2d2ff;
  --logo-color: #513431;
  --division-line: #e4e4e4db;
  --soldOut-color: #888888;
}
